.top-5 { margin-top:5px; }
.top-10 { margin-top:10px; }
.top-15 { margin-top:15px; }
.top-20 { margin-top:20px; }
.top-25 { margin-top:25px; }
.top-30 { margin-top:30px; }
.top-35 { margin-top:35px; }
.top-40 { margin-top:40px; }
.top-50 { margin-top:50px; }

.left-5 { margin-left:5px; }
.left-10 { margin-left:10px; }
.left-15 { margin-left:15px; }
.left-20 { margin-left:20px; }
.left-25 { margin-left:25px; }
.left-30 { margin-left:30px; }
.left-50 { margin-left:50px; }
.left-60 { margin-left:60px; }
.left-70 { margin-left:70px; }
.left-71 { margin-left:71px; }
.left-75 { margin-left:75px; }
.left-80 { margin-left:80px; }
.left-100 { margin-left:100px; }

.right-5 { margin-right:5px; }
.right-10 { margin-right:10px; }
.right-15 { margin-right:15px; }
.right-20 { margin-right:20px; }
.right-25 { margin-right:25px; }
.right-30 { margin-right:30px; }
.right-50 { margin-right:50px; }