<script>
    var yearId;
    var $table = $("#table");
    var $tqfTable = $('#tqfTable');
    var summaryData;
    var courseId;
    var termId;
    var funcId;
    var type;

    $(document).ready(function () {
        getCurYear();

        //บอกการเข้าถึงว่าเข้าได้ระดับไหน
        var access;
        if(user.faculty_executive_officer >= 1 || user.faculty_admin == 1){
            access = "ระดับคณะ";
        }else if(user.sector_president >= 1){
            access = "ระดับภาควิชา";
        }else if (user.major_president >= 1 || user.major_admin == 1){
            access = "ระดับสาขา";
        }else if(user.course_president != null || user.course_admin >= 1){
            access = "ระดับหลักสูตร";
        }


        $("#showDetail").append("<h3>คณะ : "+user.faculty_id+" <small>สิทธิการเข้าถึง "+access+"</small></h3>");
        $("#showDate").append("<h4>ข้อมูล ณ วันที่  "+moment().locale('th').add(543, 'year').format('LL')+"</h4>");
    });

    //รับปีปัจจุบัน ข้อมูลปีปัจจุบัน
    function getCurYear() {
        $.ajax({
            type: 'POST',
            url: 'reportFileDAO.php',
            data: {func: 'getCurYear'},
            dataType: 'html',
            success: function (response) {
                yearId = response;
                $("#showYear").html(yearId);
                getSummary();
            }
        });
    }

    function getSummary() {
        $.ajax({
            type: 'POST',
            url: 'summaryReportDAO.php',
            data: {
                func: 'getSummary',
                year: yearId,

                user_id: user.user_id,
                faculty_admin: user.faculty_admin,
                major_admin: user.major_admin,
                course_admin: user.course_admin,

                faculty_executive_officer: user.faculty_executive_officer,
                major_president: user.major_president,
                sector_president: user.sector_president,
                course_president: user.course_president,

                faculty_id: user.faculty_id,
                sector_id: user.sector_id,
                major_id: user.major_id

            },
            dataType: 'json',
            success: function (response) {
                summaryData = response;
                var checkSummary = false;

                $.each(response ,function (i,summary) {
                    if(Object.keys(summary).length > 8){
                        checkSummary = true;
                    }
                });

                if(checkSummary){
                    summaryTerm3Table();
                }else{
                    summaryTable();
                }
            }
        });
    }


    //report table เอาข้อมูลมาโชว์และทำเป็น table
    function summaryTerm3Table() {
        $table.bootstrapTable({
            columns: [[{
                title: 'หลักสูตร',
                colspan: 4,
                align: 'center'
            }, {
                title: 'เทอม 1',
                colspan: 2,
                align: 'center'
            }, {
                title: 'เทอม 2',
                colspan: 2,
                align: 'center'
            }, {
                title: 'เทอม 3',
                colspan: 2,
                align: 'center'
            }
            ],
                [{
                    title: 'ลำดับ',
                    formatter: function (value, row, index) {
                        return [index+1].join('  ');
                    },
                    width: '1%',
                    align: 'center'

                },{
                    field: 'sector_id',
                    title: 'ภาควิชา',
                    formatter: sectorFormatter
                },{
                    field: 'major_id',
                    title: 'สาขาวิชา',
                    formatter: majorFormatter
                },{
                    field: 'course_id',
                    title: 'หลักสูตร',
                },{
                    field: 'tqf34_term1_Num',
                    title: 'มคอ. 3,4',
                    align: 'center',
                    formatter: tqf34Team1LinkFormatter

                },{
                    field: 'tqf56_term1_Num',
                    title: 'มคอ. 5,6',
                    align: 'center',
                    formatter: tqf56Team1LinkFormatter

                },{
                    field: 'tqf34_term2_Num',
                    title: 'มคอ. 3,4',
                    align: 'center',
                    formatter: tqf34Team2LinkFormatter

                },{
                    field: 'tqf56_term2_Num',
                    title: 'มคอ. 5,6',
                    align: 'center',
                    formatter: tqf56Team2LinkFormatter
                },{
                    field: 'tqf34_term3_Num',
                    title: 'มคอ. 3,4',
                    align: 'center',
                    formatter: tqf34Team3LinkFormatter

                },{
                    field: 'tqf56_term3_Num',
                    title: 'มคอ. 5,6',
                    align: 'center',
                    formatter: tqf56Team3LinkFormatter
                }]
            ]
        });
        $table.bootstrapTable('load', summaryData);
    }

    //report table เอาข้อมูลมาโชว์และทำเป็น table
    function summaryTable() {
        $table.bootstrapTable({
            columns: [[{
                    title: 'หลักสูตร',
                    colspan: 4,
                    align: 'center'
                }, {
                    title: 'เทอม 1',
                    colspan: 2,
                    align: 'center'
                }, {
                title: 'เทอม 2',
                colspan: 2,
                align: 'center'
            }
                ],
                [{
                    title: 'ลำดับ',
                    formatter: function (value, row, index) {
                        return [index+1].join('  ');
                    },
                    width: '1%',
                    align: 'center'

                },{
                    field: 'sector_id',
                    title: 'ภาควิชา',
                    formatter: sectorFormatter
                },{
                    field: 'major_id',
                    title: 'สาขาวิชา',
                    formatter: majorFormatter
                },{
                    field: 'course_id',
                    title: 'หลักสูตร'
                },{
                    field: 'tqf34_term1_Num',
                    title: 'มคอ. 3,4',
                    cellStyle:function cellStyle(value, row, index, field) {
                        return {
                            css: {"font-size": "105%"}
                        };
                    },
                    align: 'center',
                    formatter: tqf34Team1LinkFormatter

                },{
                    field: 'tqf56_term1_Num',
                    title: 'มคอ. 5,6',
                    cellStyle:function cellStyle(value, row, index, field) {
                        return {
                            css: {"font-size": "110%"}
                        };
                    },
                    align: 'center',
                    formatter: tqf56Team1LinkFormatter

                },{
                    field: 'tqf34_term2_Num',
                    title: 'มคอ. 3,4',
                    cellStyle:function cellStyle(value, row, index, field) {
                        return {
                            css: {"font-size": "110%"}
                        };
                    },
                    align: 'center',
                    formatter: tqf34Team2LinkFormatter

                },{
                    field: 'tqf56_term2_Num',
                    title: 'มคอ. 5,6',
                    cellStyle:function cellStyle(value, row, index, field) {
                        return {
                            css: {"font-size": "110%"}
                        };
                    },
                    align: 'center',
                    formatter: tqf56Team2LinkFormatter
                }]
            ]
        });
        $table.bootstrapTable('load', summaryData);
    }

    var sector;
    var major;

    //format ของภาควิชา sector ที่จะโชว์แค่อันแรก
    function sectorFormatter(value, row, index) {
        var val;

        if(index >= 1 && sector == value){
            val = "";
        }else{
            val = value;
        }

        sector = value;
        return [ val].join('');

    }

    //format ของสาขาวิชา major ที่จะโชว์แค่อันแรก
    function majorFormatter(value, row, index) {
        var val;

        if(index >= 1 && major == value){
            val = "";
        }else{
            val = value;
        }

        major = value;
        return [ val ].join('');

    }


    function tqfLink(value,course,term,func,type){
        if(value == null){
            return [ "-" ].join('');
        }else{
            var courseLink;
            if(value < 50){
                value += "%";
                courseLink = '<strong><a href="" class="course text-danger" type='+type+' func='+func+' term='+term+' course='+course+' data-toggle="modal" data-target="#myModal">'+value+'</a></strong>';
            }else if(value == 100){
                value += "%";
                courseLink = '<strong><a href="" class="course text-success" type='+type+' func='+func+' term='+term+' course='+course+' data-toggle="modal" data-target="#myModal">'+value+'</a></strong>';
            }else{
                value += "%";
                courseLink = '<a href="" class="course" type='+type+' func='+func+' term='+term+' course='+course+' data-toggle="modal" data-target="#myModal">'+value+'</a>';
            }
            return [ courseLink ].join('');
        }
    }

    //term 1
    function tqf34Team1LinkFormatter(value, row, index){
        return tqfLink(value,row["course_id"],"1","getCourseTqf34DataTable",0);
    }

    function tqf56Team1LinkFormatter(value, row, index){
        return tqfLink(value,row["course_id"],"1","getCourseTqf56DataTable",1);
    }

    //term 2
    function tqf34Team2LinkFormatter(value, row, index){
        return tqfLink(value,row["course_id"],"2","getCourseTqf34DataTable",0);
    }

    function tqf56Team2LinkFormatter(value, row, index){
        return tqfLink(value,row["course_id"],"2","getCourseTqf56DataTable",1);
    }

    //term 3
    function tqf34Team3LinkFormatter(value, row, index){
        return tqfLink(value,row["course_id"],"3","getCourseTqf34DataTable",0);
    }

    function tqf56Team3LinkFormatter(value, row, index){
        return tqfLink(value,row["course_id"],"3","getCourseTqf56DataTable",1);
    }




    ///////////////////////////////////////////////////////course table/////////////////////////////////////////////////


    //event ตอนกดเลือกหลักสูตร course
    $(document).on('click',".course",function () {
        var typeName;
        courseId = $(this).attr('course');
        termId = $(this).attr('term');
        funcId = $(this).attr('func');
        type = $(this).attr('type');


        if(type == 0){
            typeName = "มคอ. 3/4";
        }else{
            typeName = "มคอ. 5/6";
        }

        $("#showCourse").html(courseId+" ("+typeName+")");
//        $('html, body').animate({
//            scrollTop: $("#showCourse").offset().top
//        }, 100);

        courseTable();
        return false;
    });

    var tqfTableData;

    //โครงของ tqf course table
    function courseTable() {

        $.ajax({
            type: 'POST',
            url: 'summaryReportDAO.php',
            data: {func: funcId, course_id: courseId ,year: yearId ,term: termId},
            dataType: 'json',
            success: function (response) {
                tqfTableData = response;
                courseDataTable();
            }
        });

    }
    var termIndex;
    var valIndex = 0;

    //data ของ course table
    function courseDataTable() {

        $tqfTable.bootstrapTable({
            columns: [{
                field: 'term',
                title: 'ภาคเรียน',
                width: "1%",
                align: 'center',
                valign: 'middle',
                formatter: termFormatter
            },{
                title: 'ลำดับ',
                width: '1%',
                valign: 'middle',
                formatter: function (value, row, index) {

                    if(termIndex != row["term"]){
                        valIndex = index;
                    }

                    termIndex = row["term"];


                    return [ ((index+1)-valIndex) ].join('  ');
                },
                align: 'center'
            },{
                field: 'subject_id',
                title: 'วิชา',
                width: "30%",
                valign: 'middle',
                formatter: function (value, row) {
                    return [row.subject_id, row.subject_name].join(' - ');
                },
                sortable: true
            }, {
                field: 'responsible_subject',
                title: 'ผู้รับผิดชอบรายวิชา',
                width: "18%",
                valign: 'middle',
                formatter: function (value, row) {
                    if (row.name == null) {
                        return "ไม่มีผู้รับผิดชอบรายวิชา";
                    } else {
                        return [row.name, row.surname].join('  ');
                    }
                }
            }, {
                field: 'file_id',
                title: 'ไฟล์ มคอ.',
                width: "1%",
                align: 'center',
                valign: 'middle',
                formatter: tqfOperateFormatter
            }
            ]
        });
        $tqfTable.bootstrapTable('load', tqfTableData);

    }

    var term;

    //format ของภาควิชา sector ที่จะโชว์แค่อันแรก
    function termFormatter(value, row, index) {
        var val;

        if(index >= 1 && term == value){
            val = "";
        }else{
            val = value+"/"+row["year"];
        }

        term = value;
        return [val].join('');

    }

    //upload file button ปุ่มอัพโหลดไฟล์รายงาน
    function tqfOperateFormatter(value, row, index) {
        if(row["file_id"] != null){
            return [
                "<a class=\"right-15\" href=./server/php/files/" + row["file_id"] + " target=\"blank\">",
                    '<img src="./images/pdf-icon.png" width="34" height="34">',
//                    '<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>\u00A0 Download PDF',
                '</a>'
            ].join('');
        }else{
            return [
                "<strong><span class='text-danger'>ยังไม่ได้ส่ง<span></strong>"
            ].join('');
        }
    }

    //ลบปี
    $("#old").on('click',function () {
        yearId--;
        $("#showYear").html(yearId);
        getSummary();
    });

    //เพิ่มปี
    $("#new").on('click',function () {
        yearId++;
        $("#showYear").html(yearId);
        getSummary();
    });

    //ปีปัจจุบัน
    $("#showYear").on('click',function () {
        getSummary();
    });


</script>

<div class="container-fluid">

    <div class="page-header">
        <h1><i class="fa fa-bar-chart " aria-hidden="true"></i> สรุปการส่ง มคอ. 3 - มคอ. 6</h1>
    </div>

    <ol class="breadcrumb">
        <li class="active">สรุปการส่ง มคอ.</li>
        <li class="active">มคอ. 3-6</li>
    </ol>



    <div class="row">
        <div class="col-md-12">
            <div id="showDetail"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 top-10">
            <h4>
                ปีการศึกษา :
                <div class="btn-group" role="group">
                    <button type="button" id="old" class="btn btn-default "><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>

                    <button type="button" id="showYear" class="btn btn-default"></button>

                    <button type="button" id="new" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
                </div>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="showDate"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 top-10">
            <table id="table">
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">ตารางสรุปการส่งไฟล์ มคอ.</h4>
                </div>
                <div class="modal-body">

                    <!--ตารางโชว์ข้อมูลรายละเอียด สรุปการส่ง-->
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                หลักสูตร : <span id="showCourse"></span>
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="top-10 col-md-12">
                            <table id="tqfTable">

                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="top-40"></div>
</div>

